@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
 }

 #post{
	box-sizing: inherit;
	display: block;
	-webkit-text-size-adjust: 100%;
 }

.block4 {
	margin: 0px 32.5px;
	padding: 0px 0px 72px;
}

.block4_wrapper{
	display: flex;
	justify-content: center;
}

.block4_heading{
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 4rem;
	font-weight: 300;
    line-height: 1.1;
	width: 600px;
	height: 268px;
}

h2::after {
	transform: translateX(50%);
	border-color: rgba(184,157,79,1);
	color: #b89e4f;
	content: '';
	display: block;
	width: 100%;
	position: relative;
	border-left: 1px solid currentColor;
	height: 3em;
	max-height: 7rem;
	margin-top: 1rem;
	box-sizing: inherit;
}

 /* .block4_fl {
	flex-direction: column;
	flex-direction: row;
	display: flex;
} */

.block4_flex {
	display: flex;
} 

.block4_wrplead{
	max-width: 100%;
	padding: 17.5px;
	float: left;
	margin-left: 0;
	box-sizing: border-box;
	position: relative;
	min-height: 1px;
}

.block4_lead {
	margin-bottom: 0;
	color: #b89e4f;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.75;
	font-family: 'Droid Serif',serif;
	display: block;
	margin-block-start: 16px;
	margin-block-end: 16px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	box-sizing: inherit;
}

.block4_wrpp1{
	max-width: 33.3%;
	padding: 17.5px;
	float: left;
	box-sizing: border-box;
	position: relative;
	min-height: 1px;
}

.block4_wbpwrapper{
	margin-bottom: 0;
	box-sizing: inherit;
	display: block;
	text-align: left;
}

.block4_column {
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	margin-top: 0px;
	display: block;
}

.block4_wr{
	box-sizing: inherit;
	display: block;
	text-align: right;
}

.block4_wrap{
	text-align: left;
	margin-bottom: 35px;
	box-sizing: inherit;
}

p {
	line-height: 1.75;
	margin-bottom: 32px;
	margin-top: 0;
	box-sizing: inherit;
}

.block4_img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
	border-style: none;
	box-sizing: inherit;
	width: 1000px;
	aspect-ratio: auto 1000 / 1777;
	text-align: left;
}

.block4_image {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	box-sizing: inherit;
	text-align: left;
}

.figure {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	max-width: 100%;
	box-sizing: inherit;
	text-align: left;
}

.block4_figure {
text-align: left;
margin-bottom: 35px;
box-sizing: inherit;
}

.block5 {
	position: relative;
	left: 0px;
	box-sizing: border-box;
	padding-left: 0px;
	padding-right: 0px;
	/* transition: opacity .5s ease; */
	background-color: #f5f5f5 ;
	padding-top: 6rem;
	padding-bottom: 6rem;
}
/* 
.block5_container{
	padding-left: 0;
	padding-right: 0;
	margin-left: 8.33333333%;
	width: 83.33333333%;
	float: left;
	position: relative;
	
	box-sizing: border-box;
}

.block5_column{
	padding-top: 35px;
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
} */

.block5_wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 35px;
}

.block5_wrp{
	margin-bottom: 0;
   box-sizing: inherit;
}

.block5_heading {
	font-family: 'Playfair Display', serif;
	text-align: center;
	margin-bottom: 0;
	font-size: 5rem;
	font-weight: 300;
	line-height: 1.1;
	color: rgba(0,0,0,1);
	letter-spacing: -0.05em;
	box-sizing: inherit;
}

.block5_timetable{
	border-color: inherit;
	flex-basis: 100%;
	text-align: center;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.block5_ul{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
	box-sizing: border-box;
}

.block5_li1 {
	display: flex;
	min-height: 18rem;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	list-style: none;
	margin: inherit;
	padding: inherit;
	display: flex;
	position: relative;
	animation: fadein 1s;
	box-sizing: border-box;
	color: inherit;
}

.block5_image1{
	background-image: url(https://demo.curlythemes.com/art-gallery-wp/wp-content/uploads/sites/24/2017/09/The_High_Meadow_by_Elizabeth_Nourse_Cincinnati_Art_Museum.jpg);
	width: 26rem;
	height: 30rem;
	padding-top: 0;
	max-width: 100%;
	display: block;
	background-size: cover;
	background-position: center center;
	margin: 0;
	flex-shrink: 0;
	align-self: stretch;
	box-shadow: 1.25rem 1.375rem 4.75rem 0 rgba(0,0,0,.42)!important;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-box-direction: normal;
	text-align: -webkit-match-parent;
}

.time_block5{
	color: #b89e4f;
	text-align: left;
	margin: 0 0 2rem;
	font-size: .9rem;
	font-weight: 500;
	display: block;
	position: relative;
	letter-spacing: 1px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	width: calc(100% - 40px);
}

.block5_p{
	padding: 4% 10% 4% 8%;
}

span::after {
	content: '';
	display: inline-block;
	width: 10rem;
	margin-left: 2rem;
	position: relative;
	top: -0.25em;
	border-bottom: 1px solid currentColor;
	box-sizing: inherit;
}

.block5_h3{
	font-size: 280%;
	text-transform: none;
	line-height: 1.25;
	font-family: 'Playfair Display';
	font-weight: normal;
	word-break: break-word;
	cursor: pointer;
	box-sizing: border-box;
}

.block5_li2 {
	min-height: 18rem;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	list-style: none;
	margin: inherit;
	padding: inherit;
	display: flex;
	position: relative;
	animation: fadein 1s;
	box-sizing: border-box;

	color: inherit;
}

.block5_image2{
	background-image: url(https://demo.curlythemes.com/art-gallery-wp/wp-content/uploads/sites/24/2017/09/girlbytheriver-1.jpg);
	width: 26rem;
	height: 30rem;
	max-width: 100%;
	display: block;
	background-size: cover;
	background-position: center center;
	margin: 0;
	flex-shrink: 0;
	align-self: stretch;
	box-shadow: 1.25rem 1.375rem 4.75rem 0 rgba(0,0,0,.42)!important;
}

.block5_li3 {
	min-height: 18rem;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	list-style: none;
	margin: inherit;
	padding: inherit;
	display: flex;
	position: relative;
	animation: fadein 1s;
	box-sizing: border-box;
	color: inherit;
}

.block5_button {
	border-color: rgba(184,157,79,1);
	background-color: #b89e4f;
	padding: 8px 60px 8px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.1rem;
	line-height: 1.7;
	margin: 2px 1px;
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: 'Poppins';
	font-weight: normal;
	text-transform: uppercase;
	background-color: transparent; 
	color: rgba(184,157,79,1); 
	border: 1px solid rgba(184,157,79,1);
}

.block5_fa-long-arrow-right::before{
	content: "\f178";
}

.block5_button:hover {
	background-color:  rgba(184,157,79,1);
	color: white;
}

.block6_h1 {
	font-family: 'Playfair Display';
	font-weight: normal;
	font-size: 3.09375rem;
	letter-spacing: -0.05em;
	text-align: left;
}

.block6_lead {
	font-family: 'Droid Serif',serif;
	font-size: 20px;
	font-weight: 300;
	margin: 0px 0px 32px;
	line-height: 1.75;
	box-sizing: inherit;
	text-align: left;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.block6_link{
	color: rgba(184,157,79,1);
	font-family: 'Poppins';
	font-weight: normal;
	text-transform: uppercase;
	padding-left: 0;
	padding-right: 0;
	text-decoration: none;
}

.block6_image1 {
	height: auto;
	max-width: 100%;
	vertical-align: top;
	border-style: none;
	box-sizing: inherit;
	width: 1000px;
	aspect-ratio: auto 1000 / 1000;
	text-align: left
}

.block6_pumawrp {
	text-align: left;
	margin-right: 35%;
	margin-bottom: 35px;
	box-sizing: inherit;
	display: block;
}

.block6_image2 {
	height: auto;
    max-width: 100%;
    vertical-align: top;
	 border-style: none;
    box-sizing: inherit;
	 width: 1000px;
    aspect-ratio: auto 1000 / 1000;
	 text-align: left;
}

.block6_elephantwrp {
	margin-top: -25%;
	margin-left: 70%;
	text-align: left;
	margin-bottom: 35px;
}

.h1_block6 {
	text-align: center;
	font-family: 'Playfair Display';
	font-size: 64px;
	font-weight: 300;
	line-height: 1.1;
}

.h1wrp_block6 {
	margin-bottom: 35px;
	box-sizing: inherit;
	display: block;
}

.cardsflex {
	display: flex;
	justify-content: center;
}

.cardwrp {
	position: relative;
	height: 267.104px;
	margin-right: 30px;
	box-sizing: inherit;
}

.card_block6 {
	width: 150px;
	height: 200px;
	background-color: #333;
	outline-offset: -8px;
	position: relative;
	overflow: hidden;
}

.card-image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* opacity: .6; */
	transition: transform .5s ease-in-out;
}

.text-card {
	color: #f5f5f5;
	font-family: 'Poppins';
	font-weight: 100;
	padding: 29px;
	line-height: 1.5;
	text-align: center;
}

.card_block6:hover .card-image {
	transform: scale(1.5) rotate(15deg);
	opacity: .6;
}

.card_block6:hover {
	outline: 3px solid white;
}

.block6_button {
	border-color: rgba(184,157,79,1);
	background-color: #b89e4f;
	padding: 8px 60px 8px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.1rem;
	line-height: 1.7;
	margin: 2px 1px;
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: 'Poppins';
	font-weight: normal;
	text-transform: uppercase;
	background-color: transparent; 
	color: rgba(184,157,79,1); 
	border: 1px solid rgba(184,157,79,1);
}

.block6_button:hover {
	background-color:  rgba(184,157,79,1);
	color: white;
}
