@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
 }

.block4 {
	margin: 0px 32.5px;
	padding: 0px 0px 72px;
}

.block4_wrapper{
	display: flex;
	justify-content: center;
}

.block4_heading{
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 4rem;
	font-weight: 300;
    line-height: 1.1;
	width: 600px;
	height: 268px;
}

h2::after {
	transform: translateX(50%);
	border-color: rgba(184,157,79,1);
	color: #b89e4f;
	content: '';
	display: block;
	width: 100%;
	position: relative;
	border-left: 1px solid currentColor;
	height: 3em;
	max-height: 7rem;
	margin-top: 1rem;
	box-sizing: inherit;
}

.block4_fl {
	flex-direction: column;
	flex-direction: row;
	display: flex;
}

.block4_flex {
	display: flex;
}

.block4_lead {
	margin-bottom: 0;
	color: #b89e4f;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.75;
	font-family: 'Droid Serif',serif;
	display: block;
	margin-block-start: 16px;
	margin-block-end: 16px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	box-sizing: inherit;
}

.block4_wbpwrapper{
	margin-bottom: 0;
	box-sizing: inherit;
	display: block;
	text-align: center!important;
	background-color: rgba(255,255,255,1);
	color: rgba(0,0,0,1);
	font-family: 'Droid Serif',serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5;
}

/* .block4_wbpwrapper ::after {
	clear: both;
	content: " ";
	display: table;
	box-sizing: inherit;
} */

.block4_column {
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	margin-top: 0px !important;
}

/* .block4_column::before {
	content: " ";
	display: table;
	box-sizing: inherit;
} */

.block4_img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
	border-style: none;
	box-sizing: inherit;
	width: 1000px;
	aspect-ratio: auto 1000 / 1777;
}

.block4_image {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	box-sizing: inherit;
	text-align: left;
}

.figure {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	max-width: 100%;
	box-sizing: inherit;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
	 text-align: left;
}

.block4_figure {
text-align: left;
margin-bottom: 35px;
box-sizing: inherit;
display: block;
}

.block5 {
	transition: opacity .5s ease;
	background-color: #f5f5f5 !important;
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
}

.block5_wrapper {
	display: flex;
	justify-content: center;

}

.block5_heading {
	font-family: 'Playfair Display', serif;
	text-align: center;
	margin-bottom: 0;
	font-size: 4rem;
	font-weight: 300;
	line-height: 1.1;
	color: rgba(0,0,0,1);
	letter-spacing: -0.05em;
	box-sizing: inherit;
}

.block5_li1 {
	min-height: 18rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	list-style: none;
	margin: inherit;
	padding: inherit;
	display: flex;
	position: relative;
	animation: fadein 1s;
	box-sizing: border-box;
	color: inherit;
}

.time_block5{
	color: #b89e4f;
	text-align: left;
    margin: 0 0 2rem;
    font-size: .9rem;
    font-weight: 500;
    display: block;
    position: relative;
    letter-spacing: 1px;
	 -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
	 width: calc(100% - 40px);
}

.block5_p{
	padding-top: 55px;
}

span::after {
	content: '';
	display: inline-block;
	width: 10rem;
	margin-left: 2rem;
	position: relative;
	top: -0.25em;
	border-bottom: 1px solid currentColor;
	box-sizing: inherit;
}

.block5_li2 {
	min-height: 18rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	list-style: none;
	margin: inherit;
	padding: inherit;
	display: flex;
	position: relative;
	animation: fadein 1s;
	box-sizing: border-box;

	color: inherit;
}

.block5_li3 {
	min-height: 18rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	list-style: none;
	margin: inherit;
	padding: inherit;
	display: flex;
	position: relative;
	animation: fadein 1s;
	box-sizing: border-box;
	color: inherit;
}

.block5_button {
	border-color: rgba(184,157,79,1);
	background-color: #b89e4f;
	padding: 8px 60px 8px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.1rem;
	line-height: 1.7;
	margin: 2px 1px;
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: 'Poppins';
	font-weight: normal;
	text-transform: uppercase;
	background-color: transparent; 
	color: rgba(184,157,79,1); 
	border: 1px solid rgba(184,157,79,1);
}

.block5_fa-long-arrow-right::before{
	content: "\f178";
}

.block5_button:hover {
	background-color:  rgba(184,157,79,1);
	color: white;
}

.block6_h1 {
	font-family: 'Playfair Display';
	font-weight: normal;
	font-size: 3.09375rem;
	letter-spacing: -0.05em;
	text-align: left;
}

.block6_lead {
	font-family: 'Droid Serif',serif;
	font-size: 20px;
	font-weight: 300;
	margin: 0px 0px 32px;
	line-height: 1.75;
	box-sizing: inherit;
	text-align: left;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.block6_image1 {
	height: auto;
	max-width: 100%;
	vertical-align: top;
	border-style: none;
	box-sizing: inherit;
	width: 1000px;
	aspect-ratio: auto 1000 / 1000;
	text-align: left
}

.block6_pumawrp {
	text-align: left;
	margin-right: 35%;
	margin-bottom: 35px;
	box-sizing: inherit;
	display: block;
}

.block6_image2 {
	height: auto;
    max-width: 100%;
    vertical-align: top;
	 border-style: none;
    box-sizing: inherit;
	 width: 1000px;
    aspect-ratio: auto 1000 / 1000;
	 text-align: left;
}

.block6_elephantwrp {

}